/*
#	@(#) milpci.tmpl 11.1 97/10/22
 *
 * Copyright (C) 1995-1996 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right
 * to use, modify, and incorporate this code into other products for purposes
 * authorized by the license agreement provided they include this notice
 * and the associated copyright notice with any such product.  The
 * information in this file is provided "AS IS" without warranty.
 *
 */

/*
 *	MODIFICATION HISTORY
 *
 *	Created June 16, 1995
 */

/* 
 * Xsco GrafInfo File for the Matrox Millennium Adapter
 *                                                 
 *  1600x1200-32k-60  "1600x1200 32k-color Default 60Hz (4MB Min.)"
 *  1600x1200-32k-75 "1600x1200 32k-color Vesa 75Hz (4MB Min., 220Mhz DAC)"
 *  1600x1200-32k-65 "1600x1200 32k-color Vesa 65Hz (4MB Min.)"
 *  1600x1200-32k-C  "1600x1200 32k-color Custom entry (4MB Min.)"
 *  1600x1200-256-60  "1600x1200 256-color Default 60Hz"
 *  1600x1200-256-75 "1600x1200 256-color Vesa 75Hz (220Mhz DAC)"
 *  1600x1200-256-65 "1600x1200 256-color Vesa 65Hz"
 *  1600x1200-256-C  "1600x1200 256-color Custom entry"
 *  1280x1024-16m-60  "1280x1024 16m-color Default 60Hz (8MB)"
 *  1280x1024-16m-75 "1280x1024 16m-color Vesa 75Hz (8MB)"
 *  1280x1024-16m-60 "1280x1024 16m-color Vesa 60Hz (8MB)"
 *  1280x1024-16m-C  "1280x1024 16m-color Custom entry (8MB)"
 *  1280x1024-32k-60  "1280x1024 32k-color Default 60Hz (4MB Min.)"
 *  1280x1024-32k-85 "1280x1024 32k-color Vesa 85Hz (4MB Min.)"
 *  1280x1024-32k-75 "1280x1024 32k-color Vesa 75Hz (4MB Min.)"
 *  1280x1024-32k-60 "1280x1024 32k-color Vesa 60Hz (4MB Min.)"
 *  1280x1024-32k-C  "1280x1024 32k-color Custom entry (4MB Min.)"
 *  1280x1024-256-60  "1280x1024 256-color Default 60Hz"
 *  1280x1024-256-85 "1280x1024 256-color Vesa 85Hz"
 *  1280x1024-256-75 "1280x1024 256-color Vesa 75Hz"
 *  1280x1024-256-60 "1280x1024 256-color Vesa 60Hz"
 *  1280x1024-256-C  "1280x1024 256-color Custom entry"
 *  1152x864-16m-60   "1152x864 16m-color  Default 60Hz (4MB Min.)"
 *  1152x864-16m-85  "1152x864 16m-color  Vesa 85Hz (4MB Min.)"
 *  1152x864-16m-75  "1152x864 16m-color  Vesa 75Hz (4MB Min.)"
 *  1152x864-16m-70  "1152x864 16m-color  Vesa 70Hz (4MB Min.)"
 *  1152x864-16m-C   "1152x864 16m-color  Custom entry (4MB Min.)"
 *  1152x864-32k-60   "1152x864 32k-color  Default 60Hz (4MB Min.)"
 *  1152x864-32k-85  "1152x864 32k-color  Vesa 85Hz (4MB Min.)"
 *  1152x864-32k-75  "1152x864 32k-color  Vesa 75Hz (4MB Min.)"
 *  1152x864-32k-70  "1152x864 32k-color  Vesa 70Hz (4MB Min.)"
 *  1152x864-32k-C   "1152x864 32k-color  Custom entry (4MB Min.)"
 *  1152x864-256-60   "1152x864 256-color  Default 60Hz"
 *  1152x864-256-85  "1152x864 256-color  Vesa 85Hz"
 *  1152x864-256-75  "1152x864 256-color  Vesa 75Hz"
 *  1152x864-256-70  "1152x864 256-color  Vesa 70Hz"
 *  1152x864-256-C   "1152x864 256-color  Custom entry"
 *  1024x768-16m-60   "1024x768 16m-color  Default 60Hz (4MB Min.)"
 *  1024x768-16m-85  "1024x768 16m-color  Vesa 85Hz (4MB Min.)"
 *  1024x768-16m-75  "1024x768 16m-color  Vesa 75Hz (4MB Min.)"
 *  1024x768-16m-70  "1024x768 16m-color  Vesa 70Hz (4MB Min.)"
 *  1024x768-16m-60  "1024x768 16m-color  Vesa 60Hz (4MB Min.)"
 *  1024x768-16m-C   "1024x768 16m-color  Custom entry (4MB Min.)"
 *  1024x768-32k-60   "1024x768 32k-color  Default 60Hz"
 *  1024x768-32k-85  "1024x768 32k-color  Vesa 85Hz"
 *  1024x768-32k-85  "1024x768 32k-color  Vesa 75Hz"
 *  1024x768-32k-70  "1024x768 32k-color  Vesa 70Hz"
 *  1024x768-32k-60  "1024x768 32k-color  Vesa 60Hz"
 *  1024x768-32k-C   "1024x768 32k-color  Custom entry"
 *  1024x768-256-60   "1024x768 256-color  Default 60Hz"
 *  1024x768-256-85  "1024x768 256-color  Vesa 85Hz"
 *  1024x768-256-75  "1024x768 256-color  Vesa 75Hz"
 *  1024x768-256-70  "1024x768 256-color  Vesa 70Hz"
 *  1024x768-256-60  "1024x768 256-color  Vesa 60Hz"
 *  1024x768-256-C   "1024x768 256-color  Custom entry"
 *  800x600-16m-60    "800x600 16m-color   Default 60Hz"
 *  800x600-16m-85   "800x600 16m-color   Vesa 85Hz"
 *  800x600-16m-75   "800x600 16m-color   Vesa 75Hz"
 *  800x600-16m-72   "800x600 16m-color   Vesa 72Hz"
 *  800x600-16m-60   "800x600 16m-color   Vesa 60Hz"
 *  800x600-16m-C    "800x600 16m-color   Custom entry"
 *  800x600-32k-60    "800x600 32k-color   Default 60Hz"
 *  800x600-32k-85   "800x600 32k-color   Vesa 85Hz"
 *  800x600-32k-75   "800x600 32k-color   Vesa 75Hz"
 *  800x600-32k-72   "800x600 32k-color   Vesa 72Hz"
 *  800x600-32k-60   "800x600 32k-color   Vesa 60Hz"
 *  800x600-32k-C    "800x600 32k-color   Custom entry"
 *  800x600-256-60    "800x600 256-color   Default 60Hz"
 *  800x600-256-85   "800x600 256-color   Vesa 85Hz"
 *  800x600-256-75   "800x600 256-color   Vesa 75Hz"
 *  800x600-256-72   "800x600 256-color   Vesa 72Hz"
 *  800x600-256-60   "800x600 256-color   Vesa 60Hz"
 *  800x600-256-C    "800x600 256-color   Custom entry"
 *  640x480-16m-60    "640x480 16m-color   Default 60Hz"
 *  640x480-16m-85   "640x480 16m-color   Vesa 85Hz"
 *  640x480-16m-75   "640x480 16m-color   Vesa 75Hz"
 *  640x480-16m-72   "640x480 16m-color   Vesa 72Hz"
 *  640x480-16m-60   "640x480 16m-color   Vesa 60Hz"
 *  640x480-16m-C    "640x480 16m-color   Custom entry"
 *  640x480-32k-60    "640x480 32k-color   Default 60Hz"
 *  640x480-32k-85   "640x480 32k-color   Vesa 85Hz"
 *  640x480-32k-75   "640x480 32k-color   Vesa 75Hz"
 *  640x480-32k-72   "640x480 32k-color   Vesa 72Hz"
 *  640x480-32k-60   "640x480 32k-color   Vesa 60Hz"
 *  640x480-32k-C    "640x480 32k-color   Custom entry"
 *  640x480-256-60    "640x480 256-color   Default 60Hz"
 *  640x480-256-85   "640x480 256-color   Vesa 85Hz"
 *  640x480-256-75   "640x480 256-color   Vesa 75Hz"
 *  640x480-256-72   "640x480 256-color   Vesa 72Hz"
 *  640x480-256-60   "640x480 256-color   Vesa 60Hz"
 *  640x480-256-C    "640x480 256-color   Custom entry"
 *
 */

/* The following variables may be set in the data section.
 * Unless one knows what one is doing, it is not advisable
 * to set any as the Defaults should work fine. The Default parameters
 * for all supported resolutions are listed in the file Settings.milpci.doc.
 * Changes should only be made to the "-C" MODEs (Custom Entry).
 *
 * PixelClk
 * HVisible
 * HFrontPorch
 * HSync
 * HBackPorch
 * HSyncPol
 * VVisible
 * VFrontPorch
 * VSync
 * VBackPorch
 * VSyncPol
 * InterlaceEnable
 *
 */

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-32k-60 "1600x1200 32k-color Default 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE  1600x1200-32k-75 "1600x1200 32k-color Vesa 75Hz (4MB Min., 220Mhz DAC)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 202500;
    HVisible     = 1600;
    HFrontPorch   = 64;
    HSync     = 192;
    HBackPorch   = 304;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 46;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-32k-65 "1600x1200 32k-color Vesa 65Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 175500;
    HVisible     = 1600;
    HFrontPorch   = 64;
    HSync     = 192;
    HBackPorch   = 304;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 46;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-32k-C "1600x1200 32k-color Custom entry (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-256-60 "1600x1200 256-color Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE  1600x1200-256-75 "1600x1200 256-color Vesa 75Hz (220Mhz DAC)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 202500;
    HVisible     = 1600;
    HFrontPorch   = 64;
    HSync     = 192;
    HBackPorch   = 304;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 46;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-256-65 "1600x1200 256-color Vesa 65Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 175500;
    HVisible     = 1600;
    HFrontPorch   = 64;
    HSync     = 192;
    HBackPorch   = 304;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 46;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-256-C "1600x1200 256-color Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-60 "1280x1024 16m-color Default 60Hz (8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-75 "1280x1024 16m-color Vesa 75Hz (8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 135600;
    HVisible     = 1280;
    HFrontPorch   = 16;
    HSync     = 144;
    HBackPorch   = 248;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 38;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-60 "1280x1024 16m-color Vesa 60Hz (8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 108000;
    HVisible     = 1280;
    HFrontPorch   = 48;
    HSync     = 112;
    HBackPorch   = 248;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 38;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-C "1280x1024 16m-color Custom entry (8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-60 "1280x1024 32k-color Default 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-85 "1280x1024 32k-color Vesa 85Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 157500;
    HVisible     = 1280;
    HFrontPorch   = 48;
    HSync     = 160;
    HBackPorch   = 240;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 44;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-75 "1280x1024 32k-color Vesa 75Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 135600;
    HVisible     = 1280;
    HFrontPorch   = 16;
    HSync     = 144;
    HBackPorch   = 248;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 38;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-60 "1280x1024 32k-color Vesa 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 108000;
    HVisible     = 1280;
    HFrontPorch   = 48;
    HSync     = 112;
    HBackPorch   = 248;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 38;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-C "1280x1024 32k-color Custom entry (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-60 "1280x1024 256-color Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-85 "1280x1024 256-color Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 157500;
    HVisible     = 1280;
    HFrontPorch   = 48;
    HSync     = 160;
    HBackPorch   = 240;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 44;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-75 "1280x1024 256-color Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 135600;
    HVisible     = 1280;
    HFrontPorch   = 16;
    HSync     = 144;
    HBackPorch   = 248;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 38;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-60 "1280x1024 256-color Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 108000;
    HVisible     = 1280;
    HFrontPorch   = 48;
    HSync     = 112;
    HBackPorch   = 248;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 38;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-C "1280x1024 256-color Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-16m-60 "1152x864 16m-color  Default 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-16m-85 "1152x864 16m-color  Vesa 85Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 121500;
    HVisible     = 1152;
    HFrontPorch   = 64;
    HSync     = 128;
    HBackPorch   = 232;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 39;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-16m-75 "1152x864 16m-color  Vesa 75Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 108000;
    HVisible     = 1152;
    HFrontPorch   = 64;
    HSync     = 128;
    HBackPorch   = 256;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 32;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-16m-70 "1152x864 16m-color  Vesa 70Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 94500;
    HVisible     = 1152;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 200;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 44;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-16m-C "1152x864 16m-color  Custom entry (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-32k-60 "1152x864 32k-color  Default 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-32k-85 "1152x864 32k-color  Vesa 85Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 121500;
    HVisible     = 1152;
    HFrontPorch   = 64;
    HSync     = 128;
    HBackPorch   = 232;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 39;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-32k-75 "1152x864 32k-color  Vesa 75Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 108000;
    HVisible     = 1152;
    HFrontPorch   = 64;
    HSync     = 128;
    HBackPorch   = 256;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 32;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-32k-70 "1152x864 32k-color  Vesa 70Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 94500;
    HVisible     = 1152;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 200;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 44;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-32k-C "1152x864 32k-color  Custom entry (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-256-60 "1152x864 256-color  Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-256-85 "1152x864 256-color  Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 121500;
    HVisible     = 1152;
    HFrontPorch   = 64;
    HSync     = 128;
    HBackPorch   = 232;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 39;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }
VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-256-75 "1152x864 256-color  Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 108000;
    HVisible     = 1152;
    HFrontPorch   = 64;
    HSync     = 128;
    HBackPorch   = 256;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 32;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }
VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-256-70 "1152x864 256-color  Vesa 70Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    PixelClk  = 94500;
    HVisible     = 1152;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 200;
    HSyncPol = 0;
    VVisible     = 864;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 44;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1152x864-256-C "1152x864 256-color  Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 864;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-60 "1024x768 16m-color  Default 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-85 "1024x768 16m-color  Vesa 85Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 94500;
    HVisible     = 1024;
    HFrontPorch   = 48;
    HSync     = 96;
    HBackPorch   = 208;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 36;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-75 "1024x768 16m-color  Vesa 75Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 78750;
    HVisible     = 1024;
    HFrontPorch   = 16;
    HSync     = 96;
    HBackPorch   = 176;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-70 "1024x768 16m-color  Vesa 70Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 75000;
    HVisible     = 1024;
    HFrontPorch   = 24;
    HSync     = 136;
    HBackPorch   = 144;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 3;
    VSync     = 6;
    VBackPorch   = 29;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-60 "1024x768 16m-color  Vesa 60Hz (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 65000;
    HVisible     = 1024;
    HFrontPorch   = 24;
    HSync     = 136;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 3;
    VSync     = 6;
    VBackPorch   = 29;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-C "1024x768 16m-color  Custom entry (4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-60 "1024x768 32k-color  Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-85 "1024x768 32k-color  Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 94500;
    HVisible     = 1024;
    HFrontPorch   = 48;
    HSync     = 96;
    HBackPorch   = 208;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 36;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-75 "1024x768 32k-color  Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 78750;
    HVisible     = 1024;
    HFrontPorch   = 16;
    HSync     = 96;
    HBackPorch   = 176;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }
VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-70 "1024x768 32k-color  Vesa 70Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 75000;
    HVisible     = 1024;
    HFrontPorch   = 24;
    HSync     = 136;
    HBackPorch   = 144;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 3;
    VSync     = 6;
    VBackPorch   = 29;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }
VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-60 "1024x768 32k-color  Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 65000;
    HVisible     = 1024;
    HFrontPorch   = 24;
    HSync     = 136;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 3;
    VSync     = 6;
    VBackPorch   = 29;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-C "1024x768 32k-color  Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-60 "1024x768 256-color  Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-85 "1024x768 256-color  Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 94500;
    HVisible     = 1024;
    HFrontPorch   = 48;
    HSync     = 96;
    HBackPorch   = 208;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 36;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-75 "1024x768 256-color  Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 78750;
    HVisible     = 1024;
    HFrontPorch   = 16;
    HSync     = 96;
    HBackPorch   = 176;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-70 "1024x768 256-color  Vesa 70Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 75000;
    HVisible     = 1024;
    HFrontPorch   = 24;
    HSync     = 136;
    HBackPorch   = 144;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 3;
    VSync     = 6;
    VBackPorch   = 29;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-60 "1024x768 256-color  Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 65000;
    HVisible     = 1024;
    HFrontPorch   = 24;
    HSync     = 136;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 3;
    VSync     = 6;
    VBackPorch   = 29;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-C "1024x768 256-color  Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-60 "800x600 16m-color   Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-85 "800x600 16m-color   Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 56250;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 152;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-75 "800x600 16m-color   Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 49500;
    HVisible     = 800;
    HFrontPorch   = 16;
    HSync     = 80;
    HBackPorch   = 160;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 21;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-72 "800x600 16m-color   Vesa 72Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 50000;
    HVisible     = 800;
    HFrontPorch   = 56;
    HSync     = 120;
    HBackPorch   = 64;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 37;
    VSync     = 6;
    VBackPorch   = 23;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-60 "800x600 16m-color   Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 40000;
    HVisible     = 800;
    HFrontPorch   = 40;
    HSync     = 128;
    HBackPorch   = 88;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 4;
    VBackPorch   = 23;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-C "800x600 16m-color   Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-60 "800x600 32k-color   Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-85 "800x600 32k-color   Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 56250;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 152;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-75 "800x600 32k-color   Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 49500;
    HVisible     = 800;
    HFrontPorch   = 16;
    HSync     = 80;
    HBackPorch   = 160;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 21;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-72 "800x600 32k-color   Vesa 72Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 50000;
    HVisible     = 800;
    HFrontPorch   = 56;
    HSync     = 120;
    HBackPorch   = 64;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 37;
    VSync     = 6;
    VBackPorch   = 23;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-60 "800x600 32k-color   Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 40000;
    HVisible     = 800;
    HFrontPorch   = 40;
    HSync     = 128;
    HBackPorch   = 88;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 4;
    VBackPorch   = 23;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-C "800x600 32k-color   Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-60 "800x600 256-color   Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-85 "800x600 256-color   Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 56250;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 152;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-75 "800x600 256-color   Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 49500;
    HVisible     = 800;
    HFrontPorch   = 16;
    HSync     = 80;
    HBackPorch   = 160;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 21;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-72 "800x600 256-color   Vesa 72Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 50000;
    HVisible     = 800;
    HFrontPorch   = 56;
    HSync     = 120;
    HBackPorch   = 64;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 37;
    VSync     = 6;
    VBackPorch   = 23;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-60 "800x600 256-color   Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 40000;
    HVisible     = 800;
    HFrontPorch   = 40;
    HSync     = 128;
    HBackPorch   = 88;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 4;
    VBackPorch   = 23;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-C "800x600 256-color   Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-60 "640x480 16m-color   Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-85 "640x480 16m-color   Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 36000;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 48;
    HBackPorch   = 112;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 25;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-75 "640x480 16m-color   Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 64;
    HBackPorch   = 120;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 16;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-72 "640x480 16m-color   Vesa 72Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 24;
    HSync     = 40;
    HBackPorch   = 128;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 9;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-60 "640x480 16m-color   Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 25149;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 96;
    HBackPorch   = 48;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 10;
    VSync     = 2;
    VBackPorch   = 33;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-C "640x480 16m-color   Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-60 "640x480 32k-color   Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-85 "640x480 32k-color   Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 36000;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 48;
    HBackPorch   = 112;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 25;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-75 "640x480 32k-color   Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 64;
    HBackPorch   = 120;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 16;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-72 "640x480 32k-color   Vesa 72Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 24;
    HSync     = 40;
    HBackPorch   = 128;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 9;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-60 "640x480 32k-color   Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 25149;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 96;
    HBackPorch   = 48;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 10;
    VSync     = 2;
    VBackPorch   = 33;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-C "640x480 32k-color   Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }



VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-60 "640x480 256-color   Default 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-85 "640x480 256-color   Vesa 85Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 36000;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 48;
    HBackPorch   = 112;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 25;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-75 "640x480 256-color   Vesa 75Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 64;
    HBackPorch   = 120;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 16;
    VSyncPol = 0;
    InterlaceEnable = 0;
     }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-72 "640x480 256-color   Vesa 72Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 24;
    HSync     = 40;
    HBackPorch   = 128;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 9;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }



VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-60 "640x480 256-color   Vesa 60Hz"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 25149;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 96;
    HBackPorch   = 48;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 10;
    VSync     = 2;
    VBackPorch   = 33;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR Matrox         "Matrox"
 MODEL  MILPCI       "Millennium PCI Graphics Adapter"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-C "640x480 256-color   Custom entry"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/milpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }
