#ident	"@(#)mailx.rc	11.2"
# global mailx setup file
# Don't behave as specified in POSIX.2 - see man page for details
set noposix2

# enable binary display, needed for 8-bit characters in non-us-ascii locales.
set binaryokay
