/*
 * @(#) imagine128.tmpl 11.1 97/10/22
 *
 * Copyright (C) 1994 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right 
 * to use, modify, and incorporate this code into other products for purposes 
 * authorized by the license agreement provided they include this notice 
 * and the associated copyright notice with any such product.  The 
 * information in this file is provided "AS IS" without warranty.
 * 
 */


VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1600x1200-64K-76 "1600x1200 64K-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */

DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1600;
    PIXHEIGHT		= 1200;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0XBF2B178;
    CLOCK_NUMBERS	= 0X50200;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X4C;
    H_FRONT_PORCH	= 0X8;
    H_SYNC		= 0X18;
    V_ACTIVE		= 0X4B0;
    V_BLANK		= 0X3C;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1600x1200-64K-72 "1600x1200 64K-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1600;
    PIXHEIGHT		= 1200;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0XBF2B178;
    CLOCK_NUMBERS	= 0X50200;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X4C;
    H_FRONT_PORCH	= 0X8;
    H_SYNC		= 0X18;
    V_ACTIVE		= 0X4B0;
    V_BLANK		= 0X3C;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1600x1200-64K-60 "1600x1200 64K-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1600;
    PIXHEIGHT		= 1200;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X9EE4A5D;
    CLOCK_NUMBERS	= 0XE0900;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X4C;
    H_FRONT_PORCH	= 0X10;
    H_SYNC		= 0X18;
    V_ACTIVE		= 0X4B0;
    V_BLANK		= 0X38;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1600x1200-256-76 "1600x1200 256-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1600;
    PIXHEIGHT		= 1200;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0XBF2B178;
    CLOCK_NUMBERS	= 0X50200;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X4C;
    H_FRONT_PORCH	= 0X8;
    H_SYNC		= 0X18;
    V_ACTIVE		= 0X4B0;
    V_BLANK		= 0X3C;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1600x1200-256-72 "1600x1200 256-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1600;
    PIXHEIGHT		= 1200;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0XBF2B178;
    CLOCK_NUMBERS	= 0X50200;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X4C;
    H_FRONT_PORCH	= 0X8;
    H_SYNC		= 0X18;
    V_ACTIVE		= 0X4B0;
    V_BLANK		= 0X3C;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1600x1200-256-60 "1600x1200 256-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1600;
    PIXHEIGHT		= 1200;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X9EE4A5D;
    CLOCK_NUMBERS	= 0XE0900;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X4C;
    H_FRONT_PORCH	= 0X10;
    H_SYNC		= 0X18;
    V_ACTIVE		= 0X4B0;
    V_BLANK		= 0X38;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1280x1024-64K-76 "1280x1024 64K-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1280;
    PIXHEIGHT		= 1024;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X8119C6C;
    CLOCK_NUMBERS	= 0XB0900;
    H_ACTIVE		= 0XA0;
    H_BLANK		= 0X32;
    H_FRONT_PORCH	= 0X3;
    H_SYNC		= 0X11;
    V_ACTIVE		= 0X400;
    V_BLANK		= 0X24;
    V_FRONT_PORCH	= 0X6;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1280x1024-64K-72 "1280x1024 64K-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1280;
    PIXHEIGHT		= 1024;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X7AE4D84;
    CLOCK_NUMBERS	= 0X70600;
    H_ACTIVE		= 0XA0;
    H_BLANK		= 0X32;
    H_FRONT_PORCH	= 0X3;
    H_SYNC		= 0X11;
    V_ACTIVE		= 0X400;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X6;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1280x1024-64K-60 "1280x1024 64K-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1280;
    PIXHEIGHT		= 1024;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X67C6EF8;
    CLOCK_NUMBERS	= 0X101100;
    H_ACTIVE		= 0XA0;
    H_BLANK		= 0X34;
    H_FRONT_PORCH	= 0X4;
    H_SYNC		= 0X10;
    V_ACTIVE		= 0X400;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X6;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1280x1024-256-76 "1280x1024 256-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1280;
    PIXHEIGHT		= 1024;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X8119C6C;
    CLOCK_NUMBERS	= 0XB0900;
    H_ACTIVE		= 0XA0;
    H_BLANK		= 0X32;
    H_FRONT_PORCH	= 0X3;
    H_SYNC		= 0X11;
    V_ACTIVE		= 0X400;
    V_BLANK		= 0X24;
    V_FRONT_PORCH	= 0X6;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1280x1024-256-72 "1280x1024 256-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1280;
    PIXHEIGHT		= 1024;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X5;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X7AE4D84;
    CLOCK_NUMBERS	= 0X70600;
    H_ACTIVE		= 0XA0;
    H_BLANK		= 0X32;
    H_FRONT_PORCH	= 0X3;
    H_SYNC		= 0X11;
    V_ACTIVE		= 0X400;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X6;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1280x1024-256-60 "1280x1024 256-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1280;
    PIXHEIGHT		= 1024;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X67C6EF8;
    CLOCK_NUMBERS	= 0X101100;
    H_ACTIVE		= 0XA0;
    H_BLANK		= 0X34;
    H_FRONT_PORCH	= 0X4;
    H_SYNC		= 0X10;
    V_ACTIVE		= 0X400;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X6;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-16M-76 "1024x768 16M-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 24;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 4;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X4E0723B;
    CLOCK_NUMBERS	= 0X80501;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X24;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-16M-72 "1024x768 16M-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 24;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 4;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X48D376B;
    CLOCK_NUMBERS	= 0X20101;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-16M-60 "1024x768 16M-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 24;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 4;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X3E6C1C9;
    CLOCK_NUMBERS	= 0XE0C01;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-64K-76 "1024x768 64K-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X4E0723B;
    CLOCK_NUMBERS	= 0X80501;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X24;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-64K-72 "1024x768 64K-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X48D376B;
    CLOCK_NUMBERS	= 0X20101;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-64K-60 "1024x768 64K-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X3E6C1C9;
    CLOCK_NUMBERS	= 0XE0C01;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-256-76 "1024x768 256-color 76Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X4E0723B;
    CLOCK_NUMBERS	= 0X80501;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X24;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-256-72 "1024x768 256-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X48D376B;
    CLOCK_NUMBERS	= 0X20101;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   1024x768-256-60 "1024x768 256-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 1024;
    PIXHEIGHT		= 768;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X40101;
    CLOCK_FREQUENCY	= 0X3E6C1C9;
    CLOCK_NUMBERS	= 0XE0C01;
    H_ACTIVE		= 0X100;
    H_BLANK		= 0X50;
    H_FRONT_PORCH	= 0X6;
    H_SYNC		= 0X22;
    V_ACTIVE		= 0X300;
    V_BLANK		= 0X2A;
    V_FRONT_PORCH	= 0X3;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   800x600-16M-72   "800x600 16M-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 24;
    PIXWIDTH		= 800;
    PIXHEIGHT		= 600;
    PIXELSIZE		= 4;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X2FC9E30;
    CLOCK_NUMBERS	= 0X50202;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X3C;
    H_FRONT_PORCH	= 0XE;
    H_SYNC		= 0X1E;
    V_ACTIVE		= 0X258;
    V_BLANK		= 0X42;
    V_FRONT_PORCH	= 0X25;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   800x600-16M-60   "800x600 16M-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 24;
    PIXWIDTH		= 800;
    PIXHEIGHT		= 600;
    PIXELSIZE		= 4;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X263B990;
    CLOCK_NUMBERS	= 0XC0802;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X40;
    H_FRONT_PORCH	= 0XA;
    H_SYNC		= 0X20;
    V_ACTIVE		= 0X258;
    V_BLANK		= 0X1C;
    V_FRONT_PORCH	= 0X1;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   800x600-64K-72   "800x600 64K-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 800;
    PIXHEIGHT		= 600;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X2FC9E30;
    CLOCK_NUMBERS	= 0X50202;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X3C;
    H_FRONT_PORCH	= 0XE;
    H_SYNC		= 0X1E;
    V_ACTIVE		= 0X258;
    V_BLANK		= 0X42;
    V_FRONT_PORCH	= 0X25;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   800x600-64K-60   "800x600 64K-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "TrueColor";
    DEPTH		= 16;
    PIXWIDTH		= 800;
    PIXHEIGHT		= 600;
    PIXELSIZE		= 2;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X263B990;
    CLOCK_NUMBERS	= 0XC0802;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X40;
    H_FRONT_PORCH	= 0XA;
    H_SYNC		= 0X20;
    V_ACTIVE		= 0X258;
    V_BLANK		= 0X1C;
    V_FRONT_PORCH	= 0X1;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   800x600-256-72   "800x600 256-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 800;
    PIXHEIGHT		= 600;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X2FC9E30;
    CLOCK_NUMBERS	= 0X50202;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X3C;
    H_FRONT_PORCH	= 0XE;
    H_SYNC		= 0X1E;
    V_ACTIVE		= 0X258;
    V_BLANK		= 0X42;
    V_FRONT_PORCH	= 0X25;
    V_SYNC		= 0X6;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   800x600-256-60   "800x600 256-color 60Hz"


MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 800;
    PIXHEIGHT		= 600;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X263B990;
    CLOCK_NUMBERS	= 0XC0802;
    H_ACTIVE		= 0XC8;
    H_BLANK		= 0X40;
    H_FRONT_PORCH	= 0XA;
    H_SYNC		= 0X20;
    V_ACTIVE		= 0X258;
    V_BLANK		= 0X1C;
    V_FRONT_PORCH	= 0X1;
    V_SYNC		= 0X4;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   640x480-256-72   "640x480 256-color 72Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 640;
    PIXHEIGHT		= 480;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X1E0A6DC;
    CLOCK_NUMBERS	= 0X90802;
    H_ACTIVE		= 0X50;
    H_BLANK		= 0X18;
    H_FRONT_PORCH	= 0X3;
    H_SYNC		= 0X5;
    V_ACTIVE		= 0X1E0;
    V_BLANK		= 0X28;
    V_FRONT_PORCH	= 0X9;
    V_SYNC		= 0X3;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR NUMBERNINE         "Number 9"
 MODEL  IMAGINE128         "Imagine 128"
  CLASS  I128               "I128"
   MODE   640x480-256-60   "640x480 256-color 60Hz"

MEMORY(MW0,@MW0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(MW1,@MW1_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(XY0,@XY0_BASE@,0x400000);        /*  Base Address, Length        */
MEMORY(RBASE_X,@RBASE_X_BASE@,0x10000);  /*  Base Address, Length        */


DATA
    {
    VIDSETUP		= "/usr/X11R6.1/lib/vidconf/scripts/imagine128";
    XDRIVER		= "i128";
    IO_BASE             = @IO_BASE@;
    VISUAL		= "PseudoColor";
    DEPTH		= 8;
    PIXWIDTH		= 640;
    PIXHEIGHT		= 480;
    PIXELSIZE		= 1;
    DISPLAY_FLAGS	= 0X1;
    CONFIG_1		= 0X70;
    CONFIG_2		= 0X1040101;
    CLOCK_FREQUENCY	= 0X18289C5;
    CLOCK_NUMBERS	= 0X60702;
    H_ACTIVE		= 0X50;
    H_BLANK		= 0X14;
    H_FRONT_PORCH	= 0X2;
    H_SYNC		= 0XC;
    V_ACTIVE		= 0X1E0;
    V_BLANK		= 0X2D;
    V_FRONT_PORCH	= 0XA;
    V_SYNC		= 0X2;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }
