/*
 *	@(#) milpci.tmpl 11.1 97/10/22
 *
 * Copyright (C) 1995-1996 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right
 * to use, modify, and incorporate this code into other products for purposes
 * authorized by the license agreement provided they include this notice
 * and the associated copyright notice with any such product.  The
 * information in this file is provided "AS IS" without warranty.
 *
 */

/*
 *	MODIFICATION HISTORY
 *
 *	Created June 16, 1995
 */

/* 
 * Xsco GrafInfo File for the SNI Matrox Millennium Adapter
 *                                                 
 *  1600x1200-32k-D  "1600x1200 32k-color Default 60Hz (4MB Min.)"
 *  1600x1200-32k-84 "1600x1200 32k-color 84Hz (4MB Min., 220Mhz DAC)"
 *  1600x1200-32k-75 "1600x1200 32k-color 75Hz (4MB Min., 220Mhz DAC)"
 *  1600x1200-32k-66 "1600x1200 32k-color 66Hz (4MB Min.)"
 *  1600x1200-256-D "1600x1200 256-color Default 60Hz"
 *  1600x1200-256-84 "1600x1200 256-color 84Hz (220Mhz DAC)"
 *  1600x1200-256-75 "1600x1200 256-color 75Hz (220Mhz DAC)"
 *  1600x1200-256-66 "1600x1200 256-color 66 Hz"
 *  1280x1024-16m-D "1280x1024 16m-color Default 60Hz (8MB)"
 *  1280x1024-16m-100 "1280x1024 16m-color 100Hz (8MB)"
 *  1280x1024-16m-85 "1280x1024 16m-color 85Hz (8MB)"
 *  1280x1024-16m-75 "1280x1024 16m-color 75Hz (8MB)"
 *  1280x1024-32k-D "1280x1024 32k-color Default 60Hz (4MB Min.)"
 *  1280x1024-32k-100 "1280x1024 32k-color 100Hz (4MB Min.)"
 *  1280x1024-32k-85 "1280x1024 32k-color 85Hz (4MB Min.)"
 *  1280x1024-32k-75 "1280x1024 32k-color 75Hz (4MB Min.)"
 *  1280x1024-256-D "1280x1024 256-color Default 60Hz"
 *  1280x1024-256-100 "1280x1024 256-color 100Hz"
 *  1280x1024-256-85 "1280x1024 256-color 85Hz"
 *  1280x1024-256-75 "1280x1024 256-color 75Hz"
 *  1024x768-16m-D "1024x768 16m-color  Default 60Hz (4MB Min.)"
 *  1024x768-16m-120 "1024x768 16m-color  120Hz (4MB Min.)"
 *  1024x768-16m-100 "1024x768 16m-color  100Hz (4MB Min.)"
 *  1024x768-16m-80 "1024x768 16m-color  80Hz (4MB Min.)"
 *  1024x768-16m-75 "1024x768 16m-color  75Hz (4MB Min.)"
 *  1024x768-32k-D "1024x768 32k-color  Default 60Hz"
 *  1024x768-32k-120 "1024x768 32k-color  120Hz"
 *  1024x768-32k-100 "1024x768 32k-color  100Hz"
 *  1024x768-32k-80 "1024x768 32k-color  80Hz"
 *  1024x768-32k-75 "1024x768 32k-color  75Hz"
 *  1024x768-256-D "1024x768 256-color  Default 60Hz"
 *  1024x768-256-120 "1024x768 256-color  120Hz"
 *  1024x768-256-100 "1024x768 256-color  100Hz"
 *  1024x768-256-80 "1024x768 256-color  80Hz"
 *  1024x768-256-75 "1024x768 256-color  75Hz"
 *  800x600-16m-D "800x600 16m-color   Default 60Hz"
 *  800x600-16m-120 "800x600 16m-color   120Hz"
 *  800x600-16m-100 "800x600 16m-color   100Hz"
 *  800x600-16m-75 "800x600 16m-color   75Hz"
 *  800x600-32k-D "800x600 32k-color   Default 60Hz"
 *  800x600-32k-120 "800x600 32k-color   120Hz"
 *  800x600-32k-100 "800x600 32k-color   100Hz"
 *  800x600-32k-75 "800x600 32k-color   75Hz"
 *  800x600-256-D "800x600 256-color   Default 60Hz"
 *  800x600-256-120 "800x600 256-color   120Hz"
 *  800x600-256-100 "800x600 256-color   100Hz"
 *  800x600-256-75 "800x600 256-color   75Hz"
 *  640x480-16m-D "640x480 16m-color   Default 60Hz"
 *  640x480-16m-120 "640x480 16m-color   120Hz"
 *  640x480-16m-100 "640x480 16m-color   100Hz"
 *  640x480-16m-75 "640x480 16m-color   75Hz"
 *  640x480-32k-D "640x480 32k-color   Default 60Hz"
 *  640x480-32k-120 "640x480 32k-color   120Hz"
 *  640x480-32k-100 "640x480 32k-color   100Hz"
 *  640x480-32k-75 "640x480 32k-color   75Hz"
 *  640x480-256-D "640x480 256-color   Default 60Hz"
 *  640x480-256-120 "640x480 256-color   120Hz"
 *  640x480-256-100 "640x480 256-color   100Hz"
 *  640x480-256-75 "640x480 256-color   75Hz"
 *
 */

/* The following variables may be set in the data section.
 * Unless one knows what one is doing, it is not advisable
 * to set any as the Defaults should work fine. The Default parameters
 * for all supported resolutions are listed in the file Settings.milpci.doc.
 * Changes should only be made to the "-C" MODEs (Custom Entry).
 *
 * PixelClk
 * HVisible
 * HFrontPorch
 * HSync
 * HBackPorch
 * HSyncPol
 * VVisible
 * VFrontPorch
 * VSync
 * VBackPorch
 * VSyncPol
 * InterlaceEnable
 *
 */

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-32k-D "1600x1200 32k-color Default 60Hz (76,4 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE  1600x1200-32k-84 "1600x1200 32k-color 84Hz (104,2 kHz, 4MB Min., 220Mhz DAC)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 220000;
    HVisible     = 1600;
    HFrontPorch   = 32;
    HSync     = 192;
    HBackPorch   = 288;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 40;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-32k-75 "1600x1200 32k-color 75Hz (92,8 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 190000;
    HVisible     = 1600;
    HFrontPorch   = 32;
    HSync     = 160;
    HBackPorch   = 256;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-32k-66 "1600x1200 32k-color 66Hz (81,7 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 170000;
    HVisible     = 1600;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 320;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 35;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-256-D "1600x1200 256-color Default 60Hz (76,4 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE  1600x1200-256-84 "1600x1200 256-color 84Hz (104,2 kHz, 220Mhz DAC)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 220000;
    HVisible     = 1600;
    HFrontPorch   = 32;
    HSync     = 192;
    HBackPorch   = 288;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 40;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-256-75 "1600x1200 256-color 75Hz (92,8 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 190000;
    HVisible     = 1600;
    HFrontPorch   = 32;
    HSync     = 160;
    HBackPorch   = 256;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1600x1200-256-66 "1600x1200 256-color 66Hz (81,7 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PixelClk  = 170000;
    HVisible     = 1600;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 320;
    HSyncPol = 0;
    VVisible     = 1200;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 35;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }


PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-D "1280x1024 16m-color Default 60Hz (63,4 kHz, 8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-100 "1280x1024 16m-color 100Hz (107 kHz, 8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 184900;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 288;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 41;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-85 "1280x1024 16m-color 85Hz (89,9 kHz, 8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 155380;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 160;
    HBackPorch   = 256;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-16m-75 "1280x1024 16m-color 75Hz (79,9 kHz, 8MB)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 135600;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 256;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-D "1280x1024 32k-color Default 60Hz (63,4 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-100 "1280x1024 32k-color 100Hz (107 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 184900;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 288;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 41;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-85 "1280x1024 32k-color 85Hz (89,9 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 155380;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 160;
    HBackPorch   = 256;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-32k-75 "1280x1024 32k-color 75Hz (79,9 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 135600;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 256;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-D "1280x1024 256-color Default 60Hz (63,4 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-100 "1280x1024 256-color 100Hz (107 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 184900;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 288;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 41;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-85 "1280x1024 256-color 85Hz (89,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 155380;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 160;
    HBackPorch   = 256;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1280x1024-256-75 "1280x1024 256-color 75Hz (79,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PixelClk  = 135600;
    HVisible     = 1280;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 256;
    HSyncPol = 1;
    VVisible     = 1024;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-D "1024x768 16m-color  Default 60Hz (48,4 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-120 "1024x768 16m-color  120Hz (97,5 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 131000;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 160;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-100 "1024x768 16m-color  100Hz (80,8 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 111200;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 192;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 33;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-80 "1024x768 16m-color  80Hz (64 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 84000;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 192;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 25;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-16m-75 "1024x768 16m-color  75Hz (60 kHz, 4MB Min.)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 78750;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-D "1024x768 32k-color  Default 60Hz (48,4 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-120 "1024x768 32k-color  120Hz (97,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 131000;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 160;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-100 "1024x768 32k-color  100Hz (80,8 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 111200;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 192;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 33;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-80 "1024x768 32k-color  80Hz (64 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 84000;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 192;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 25;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-32k-75 "1024x768 32k-color  75Hz (60 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 78750;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-D "1024x768 256-color  Default 60Hz (48,4 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-120 "1024x768 256-color  120Hz (97,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 131000;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 160;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 37;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-100 "1024x768 256-color  100Hz (80,8 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 111200;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 128;
    HBackPorch   = 192;
    HSyncPol = 1;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 33;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-80 "1024x768 256-color  80Hz (64 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 84000;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 192;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 25;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   1024x768-256-75 "1024x768 256-color  75Hz (60 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PixelClk  = 78750;
    HVisible     = 1024;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 768;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 28;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-D "800x600 16m-color   Default 60Hz (37,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-120 "800x600 16m-color   120Hz (76,7 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 81000;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 128;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 33;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-100 "800x600 16m-color   100Hz (63 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 64500;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 128;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-16m-75 "800x600 16m-color   75Hz (46,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 49500;
    HVisible     = 800;
    HFrontPorch   = 16;
    HSync     = 80;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 21;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-D "800x600 32k-color   Default 60Hz (37,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-120 "800x600 32k-color   120Hz (76,7 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 81000;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 128;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 33;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-100 "800x600 32k-color   100Hz (63 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 64500;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 128;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-32k-75 "800x600 32k-color   75Hz (46,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 49500;
    HVisible     = 800;
    HFrontPorch   = 16;
    HSync     = 80;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 21;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-D "800x600 256-color   Default 60Hz (37,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-120 "800x600 256-color   120Hz (76,7 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 81000;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 96;
    HBackPorch   = 128;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 33;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-100 "800x600 256-color   100Hz (63 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 64500;
    HVisible     = 800;
    HFrontPorch   = 32;
    HSync     = 64;
    HBackPorch   = 128;
    HSyncPol = 1;
    VVisible     = 600;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 1;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   800x600-256-75 "800x600 256-color   75Hz (46,9 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk  = 49500;
    HVisible     = 800;
    HFrontPorch   = 16;
    HSync     = 80;
    HBackPorch   = 160;
    HSyncPol = 0;
    VVisible     = 600;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 21;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-D "640x480 16m-color   Default 60Hz (31,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-120 "640x480 16m-color   120Hz (61,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 49200;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 32;
    HBackPorch   = 96;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-100 "640x480 16m-color   100Hz (51 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 40800;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 32;
    HBackPorch   = 96;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 3;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-16m-75 "640x480 16m-color   75Hz (37,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 64;
    HBackPorch   = 120;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 16;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-D "640x480 32k-color   Default 60Hz (31,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-120 "640x480 32k-color   120Hz (61,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 49200;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 32;
    HBackPorch   = 96;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-100 "640x480 32k-color   100Hz (51 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 40800;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 32;
    HBackPorch   = 96;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 3;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-32k-75 "640x480 32k-color   75Hz (37,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 64;
    HBackPorch   = 120;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 16;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-D "640x480 256-color   Default 60Hz (31,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-120 "640x480 256-color   120Hz (61,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 49200;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 32;
    HBackPorch   = 96;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 2;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-100 "640x480 256-color   100Hz (51 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 40800;
    HVisible     = 640;
    HFrontPorch   = 32;
    HSync     = 32;
    HBackPorch   = 96;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 3;
    VSync     = 3;
    VBackPorch   = 27;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }


VENDOR SNI         "SNI"
 MODEL  MILPCI       "Matrox Millennium"
  CLASS  MILPCI         "MIL"
   MODE   640x480-256-75 "640x480 256-color   75Hz (37,5 kHz)"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);           /*  Base Address, Length        */
MEMORY(FBM, @FBM_BASE@0000, 0x800000);    /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/snimilpci";
    XDRIVER     = "mil";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PixelClk  = 31500;
    HVisible     = 640;
    HFrontPorch   = 16;
    HSync     = 64;
    HBackPorch   = 120;
    HSyncPol = 0;
    VVisible     = 480;
    VFrontPorch   = 1;
    VSync     = 3;
    VBackPorch   = 16;
    VSyncPol = 0;
    InterlaceEnable = 0;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

