#ident	"@(#)wksh:olwksh.rc	1.5"
if [ "$_HOLDENV_" ]
then 
	ENV=$_HOLDENV_
	if [ -r "$ENV" ]
	then 
		# the following prevents recursive calls to this program
		OLWKSH_RECUR_PREVENT="olwksh.rc called by $$"
		if [ "$OLWKSH_ARGS" != "$OLWKSH_RECUR_PREVENT" ]
		then
			FIRSTENVCHAR=`echo "$ENV" | cut -c1`
			if [ "$FIRSTENVCHAR" = "/" ]
			then
				OLWKSH_ARGS="$OLWKSH_RECUR_PREVENT" . "$ENV"
			else
				# not an absolute path; must be relative
				# to the current directory, so add "./" to
				# make sure it's found
				OLWKSH_ARGS="$OLWKSH_RECUR_PREVENT" . ./"$ENV"
			fi
			unset OLWKSH_ARGS 
		fi
		unset OLWKSH_RECUR_PREVENT
	fi
else
	unset ENV
fi
unset _HOLDENV_
if [ ! "$WKSHPS1" ]
then WKSHPS1="[WKSH] $PS1" export WKSHPS1
fi
PS1="$WKSHPS1"
if [ ! "$WKSHFPATH" ]
then 
	if [ "$FPATH" ]
	then WKSHFPATH="$FPATH:/usr/X/lib/wksh/olfuncs"
	else WKSHFPATH="/usr/X/lib/wksh/olfuncs"
	fi
	export WKSHFPATH
fi
FPATH="$WKSHFPATH"
call wk_libinit
