/*
 *	@(#) viperse.tmpl 11.1 97/10/22
 *
 * Copyright (C) 1994 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right 
 * to use, modify, and incorporate this code into other products for purposes 
 * authorized by the license agreement provided they include this notice 
 * and the associated copyright notice with any such product.  The 
 * information in this file is provided "AS IS" without warranty.
 * 
 */


VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1600x1200-64K-66 "1600x1200 64K-color 66Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PIXELSIZE   = 2;
    PIXCLOCK    = 17400;
    PLL525      = 1;

    HSP         = 210;
    HBP         = 224;
    HFP         = 96;
    HCO         = 0;
    HP          = 0;

    VSP         = 4;
    VBP         = 41;
    VFP         = 2;
    VCO         = 0;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1600x1200-64K-60 "1600x1200 64K-color 60Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PIXELSIZE   = 2;
    PIXCLOCK    = 16000;
    PLL525      = 1;

    HSP         = 144;
    HBP         = 272;
    HFP         = 32;
    HCO         = 0;
    HP          = 0;

    VSP         = 8;
    VBP         = 49;
    VFP         = 4;
    VCO         = 0;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1600x1200-256-66 "1600x1200 256-color 66Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PIXELSIZE   = 1;
    PIXCLOCK    = 17400;
    PLL525      = 1;

    HSP         = 210;
    HBP         = 224;
    HFP         = 96;
    HCO         = 0;
    HP          = 0;

    VSP         = 4;
    VBP         = 41;
    VFP         = 2;
    VCO         = 0;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1600x1200-256-60 "1600x1200 256-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    PIXELSIZE   = 1;
    PIXCLOCK    = 16000;
    PLL525      = 1;

    HSP         = 144;
    HBP         = 272;
    HFP         = 32;
    HCO         = 0;
    HP          = 0;

    VSP         = 8;
    VBP         = 49;
    VFP         = 4;
    VCO         = 0;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1280x1024-64K-75 "1280x1024 64K-color 75Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PIXELSIZE   = 2;
    PIXCLOCK    = 13500;
    PLL525      = 1;

    HSP         = 144;
    HBP         = 248;
    HFP         = 16;
    HCO         = 144;
    HP          = 1;

    VSP         = 3;
    VBP         = 38;
    VFP         = 1;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1280x1024-64K-70 "1280x1024 64K-color 70Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PIXELSIZE   = 2;
    PIXCLOCK    = 12800;
    PLL525      = 1;

    HSP         = 144;
    HBP         = 256;
    HFP         = 32;
    HCO         = 0;
    HP          = 1;

    VSP         = 3;
    VBP         = 38;
    VFP         = 1;
    VCO         = 0;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1280x1024-64K-60 "1280x1024 64K-color 60Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PIXELSIZE   = 2;
    PIXCLOCK    = 10800;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 256;
    HFP         = 32;
    HCO         = 0;
    HP          = 1;

    VSP         = 4;
    VBP         = 33;
    VFP         = 6;
    VCO         = 0;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1280x1024-256-75 "1280x1024 256-color 75Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PIXELSIZE   = 1;
    PIXCLOCK    = 13500;
    PLL525      = 1;

    HSP         = 144;
    HBP         = 256;
    HFP         = 16;
    HCO         = 144;
    HP          = 1;

    VSP         = 3;
    VBP         = 38;
    VFP         = 1;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1280x1024-256-70 "1280x1024 256-color 70Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PIXELSIZE   = 1;
    PIXCLOCK    = 12800;
    PLL525      = 1;

    HSP         = 144;
    HBP         = 256;
    HFP         = 32;
    HCO         = 0;
    HP          = 1;

    VSP         = 3;
    VBP         = 38;
    VFP         = 1;
    VCO         = 0;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1280x1024-256-60 "1280x1024 256-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    PIXELSIZE   = 1;
    PIXCLOCK    = 10800;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 256;
    HFP         = 32;
    HCO         = 0;
    HP          = 1;

    VSP         = 4;
    VBP         = 33;
    VFP         = 6;
    VCO         = 0;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-16M-100 "1024x768 16M-color 100Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 4;
    PIXCLOCK    = 10820;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 184;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 8;
    VBP         = 33;
    VFP         = 6;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-16M-80 "1024x768 16M-color 80Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 4;
    PIXCLOCK    = 8520;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 176;
    HFP         = 16;
    HCO         = 256;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 1;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-16M-75 "1024x768 16M-color 75Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 4;
    PIXCLOCK    = 7875;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 176;
    HFP         = 16;
    HCO         = 256;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 1;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-16M-72 "1024x768 16M-color 72Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 4;
    PIXCLOCK    = 7716;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 144;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-16M-70 "1024x768 16M-color 70Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 4;
    PIXCLOCK    = 7500;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 144;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-16M-60 "1024x768 16M-color 60Hz - 4MB VRAM"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 4;
    PIXCLOCK    = 6500;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 160;
    HFP         = 24;
    HCO         = 272;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-64K-100 "1024x768 64K-color 100Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 2;
    PIXCLOCK    = 10820;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 184;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 8;
    VBP         = 33;
    VFP         = 6;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-64K-80 "1024x768 64K-color 80Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 2;
    PIXCLOCK    = 8520;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 176;
    HFP         = 16;
    HCO         = 256;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 1;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-64K-75 "1024x768 64K-color 75Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 2;
    PIXCLOCK    = 7875;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 176;
    HFP         = 16;
    HCO         = 256;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 1;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-64K-72 "1024x768 64K-color 72Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 2;
    PIXCLOCK    = 7716;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 144;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-64K-70 "1024x768 64K-color 70Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 2;
    PIXCLOCK    = 7500;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 144;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-64K-60 "1024x768 64K-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 2;
    PIXCLOCK    = 6500;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 160;
    HFP         = 24;
    HCO         = 272;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-256-100 "1024x768 256-color 100Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 1;
    PIXCLOCK    = 10820;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 184;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 8;
    VBP         = 33;
    VFP         = 6;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-256-80 "1024x768 256-color 80Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 1;
    PIXCLOCK    = 8520;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 176;
    HFP         = 16;
    HCO         = 256;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 1;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-256-75 "1024x768 256-color 75Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 1;
    PIXCLOCK    = 7875;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 176;
    HFP         = 16;
    HCO         = 256;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 1;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-256-72 "1024x768 256-color 72Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 1;
    PIXCLOCK    = 7716;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 144;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-256-70 "1024x768 256-color 70Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 1;
    PIXCLOCK    = 7500;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 144;
    HFP         = 24;
    HCO         = 256;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   1024x768-256-60 "1024x768 256-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    PIXELSIZE   = 1;
    PIXCLOCK    = 6500;
    PLL525      = 1;

    HSP         = 136;
    HBP         = 160;
    HFP         = 24;
    HCO         = 272;
    HP          = 0;

    VSP         = 6;
    VBP         = 29;
    VFP         = 3;
    VCO         = 30;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   800x600-16M-72   "800x600 16M-color 72Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PIXELSIZE   = 4;
    PIXCLOCK    = 5000;
    PLL525      = 1;

    HSP         = 120;
    HBP         = 64;
    HFP         = 56;
    HCO         = 144;
    HP          = 1;

    VSP         = 6;
    VBP         = 23;
    VFP         = 37;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   800x600-16M-60   "800x600 16M-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PIXELSIZE   = 4;
    PIXCLOCK    = 4000;
    PLL525      = 1;

    HSP         = 128;
    HBP         = 88;
    HFP         = 40;
    HCO         = 144;
    HP          = 1;

    VSP         = 4;
    VBP         = 23;
    VFP         = 1;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   800x600-64K-72   "800x600 64K-color 72Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PIXELSIZE   = 2;
    PIXCLOCK    = 5000;
    PLL525      = 1;

    HSP         = 120;
    HBP         = 64;
    HFP         = 56;
    HCO         = 144;
    HP          = 1;

    VSP         = 6;
    VBP         = 23;
    VFP         = 37;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   800x600-64K-60   "800x600 64K-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "TrueColor";

    DEPTH       = 16;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PIXELSIZE   = 2;
    PIXCLOCK    = 4000;
    PLL525      = 1;

    HSP         = 128;
    HBP         = 88;
    HFP         = 40;
    HCO         = 144;
    HP          = 1;

    VSP         = 4;
    VBP         = 23;
    VFP         = 1;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   800x600-256-72   "800x600 256-color 72Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PIXELSIZE   = 1;
    PIXCLOCK    = 5000;
    PLL525      = 1;

    HSP         = 120;
    HBP         = 64;
    HFP         = 56;
    HCO         = 144;
    HP          = 1;

    VSP         = 6;
    VBP         = 23;
    VFP         = 37;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   800x600-256-60   "800x600 256-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PIXELSIZE   = 1;
    PIXCLOCK    = 4000;
    PLL525      = 1;

    HSP         = 128;
    HBP         = 88;
    HFP         = 40;
    HCO         = 144;
    HP          = 1;

    VSP         = 4;
    VBP         = 23;
    VFP         = 1;
    VCO         = 35;
    VP          = 1;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE         "Viper SE"
  CLASS  P9100         ""
   MODE   640x480-256-72   "640x480 256-color 72Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PIXELSIZE   = 1;
    PIXCLOCK    = 3150;
    PLL525      = 1;

    HSP         = 40;
    HBP         = 128;
    HFP         = 24;
    HCO         = 144;
    HP          = 0;

    VSP         = 3;
    VBP         = 28;
    VFP         = 9;
    VCO         = 35;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }

/*******************************************************************/

VENDOR DIAMOND         "Diamond"
 MODEL  VIPERSE       "Viper SE"
  CLASS  P9100         ""
   MODE   640x480-256-60   "640x480 256-color 60Hz"

MEMORY(@MEM_BASE@0000,0x1000000);        /*  Base Address, Length        */

DATA
    {
    VIDSETUP   = "/usr/X11R6.1/lib/vidconf/scripts/viperse";
    XDRIVER     = "p9100";
    VISUAL      = "PseudoColor";

    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    PIXELSIZE   = 1;
    PIXCLOCK    = 2517;
    PLL525      = 1;

    HSP         = 96;
    HBP         = 48;
    HFP         = 16;
    HCO         = 144;
    HP          = 0;

    VSP         = 2;
    VBP         = 33;
    VFP         = 10;
    VCO         = 35;
    VP          = 0;

    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
    }
