.ident	"@(#)dcu:locale/C/help/dcu.network	1.4"
.related kbhelp dcu.whatis
.title Help: Network Interface Cards
ABOUT THIS MENU
The Software Device Driver Selections menu lists the
supported device driver category.  Select a device driver
category from this menu to view a summary menu for that
device driver category.

SELECTING THE NETWORK INTERFACE CARDS CATEGORY
If you press <Enter>, a device driver summary for
the Network Interface Cards is displayed.  These
device drivers and the hardware they support are used
to enable networking.
                                   (CONTINUED)
.page
SELECTING ANOTHER SOFTWARE DEVICE DRIVER CATEGORY
Do the following to select the device driver category
from the Software Device Driver Selections menu:
    1.  Use the <Tab> or up/down arrow keys to move
        to the desired device driver category, or type
        the first letter of the device driver category.
    2.  Press <Enter>.

EXITING THE SOFTWARE DEVICE DRIVER SELECTIONS MENU
To exit the Software Device Driver Selections menu and
return to the main menu, select Return to DCU Main Menu.

EXITING HELP
Press <Esc> to return to the Software Device Driver
Selections menu.  Press <F1> for more help.
