/*
 *	@(#)mach64pci.tmpl	11.1	10/22/97	12:16:29
 *	@(#) mach64pci.tmpl 55.2 96/05/17 
 *
 * Copyright (C) 1994-1996 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right 
 * to use, modify, and incorporate this code into other products for purposes 
 * authorized by the license agreement provided they include this notice 
 * and the associated copyright notice with any such product.  The 
 * information in this file is provided "AS IS" without warranty.
 * 
 */


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1600x1200-64K-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI         "Mach64 PCI"
  CLASS  GX                  "GX"
   MODE   1600x1200-64K-75   "1600x1200 64K-color NI 75Hz (ProTurbo 1600), 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1600;
		PIXHEIGHT   = 1200;
		DEPTH       = 16;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1600x1200-64K-72
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI         "Mach64 PCI"
  CLASS  GX                  "GX"
   MODE   1600x1200-64K-72   "1600x1200 64K-color NI 72Hz (ProTurbo 1600), 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1600;
		PIXHEIGHT   = 1200;
		DEPTH       = 16;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1600x1200-64K-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI         "Mach64 PCI"
  CLASS  GX                  "GX"
   MODE   1600x1200-64K-60   "1600x1200 64K-color NI 60Hz (ProTurbo 1600), 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1600;
		PIXHEIGHT   = 1200;
		DEPTH       = 16;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1600x1200-256-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI         "Mach64 PCI"
  CLASS  GX                  "GX"
   MODE   1600x1200-256-75   "1600x1200 256-color NI 75Hz (ProTurbo 1600), 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1600;
		PIXHEIGHT   = 1200;
		DEPTH       = 8;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1600x1200-256-72
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI         "Mach64 PCI"
  CLASS  GX                  "GX"
   MODE   1600x1200-256-72   "1600x1200 256-color NI 72Hz (ProTurbo 1600), 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1600;
		PIXHEIGHT   = 1200;
		DEPTH       = 8;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1600x1200-256-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI         "Mach64 PCI"
  CLASS  GX                  "GX"
   MODE   1600x1200-256-60   "1600x1200 256-color NI 60Hz (ProTurbo 1600), 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1600;
		PIXHEIGHT   = 1200;
		DEPTH       = 8;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1280x1024-64K-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1280x1024-64K-75   "1280x1024 64K-color NI 75Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1280;
		PIXHEIGHT   = 1024;
		DEPTH       = 16;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1280x1024-64K-70
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1280x1024-64K-70   "1280x1024 64K-color NI 70Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1280;
		PIXHEIGHT   = 1024;
		DEPTH       = 16;
		FREQUENCY   = 70;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1280x1024-64K-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1280x1024-64K-60   "1280x1024 64K-color NI 60Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1280;
		PIXHEIGHT   = 1024;
		DEPTH       = 16;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1280x1024-256-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1280x1024-256-75   "1280x1024 256-color NI 75Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1280;
		PIXHEIGHT   = 1024;
		DEPTH       = 8;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1280x1024-256-70
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1280x1024-256-70   "1280x1024 256-color NI 70Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1280;
		PIXHEIGHT   = 1024;
		DEPTH       = 8;
		FREQUENCY   = 70;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1280x1024-256-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1280x1024-256-60   "1280x1024 256-color NI 60Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1280;
		PIXHEIGHT   = 1024;
		DEPTH       = 8;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02); 
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6); 

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-16M-77
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-16M-77   "1024x768 16M-color NI 77Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 32;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-16M-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-16M-75   "1024x768 16M-color NI 75Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 32;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-16M-70
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-16M-70   "1024x768 16M-color NI 70Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 32;
		FREQUENCY   = 70;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-16M-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-16M-60   "1024x768 16M-color NI 60Hz, 4MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 32;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-64K-77
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-64K-77   "1024x768 64K-color NI 77Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 16;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-64K-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-64K-75   "1024x768 64K-color NI 75Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 16;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-64K-70
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-64K-70   "1024x768 64K-color NI 70Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 16;
		FREQUENCY   = 70;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-64K-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-64K-60   "1024x768 64K-color NI 60Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 16;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-256-77
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-256-77   "1024x768 256-color NI 77Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 8;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-256-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-256-75   "1024x768 256-color NI 75Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 8;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-256-70
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-256-70   "1024x768 256-color NI 70Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 8;
		FREQUENCY   = 70;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.1024x768-256-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   1024x768-256-60   "1024x768 256-color NI 60Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 1024;
		PIXHEIGHT   = 768;
		DEPTH       = 8;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);   

		/* Load accelerator CRTC Params MODE */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005;  /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-16M-77 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-16M-77   "800x600 16M color NI 77Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 32;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-16M-75 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-16M-75   "800x600 16M color NI 75Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 32;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-16M-72 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-16M-72   "800x600 16M color NI 72Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 32;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-16M-60 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-16M-60   "800x600 16M color NI 60Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 32;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-64K-77 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-64K-77   "800x600 64K color NI 77Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 16;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-64K-75 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-64K-75   "800x600 64K color NI 75Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 16;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-64K-72 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-64K-72   "800x600 64K color NI 72Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 16;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-64K-60 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-64K-60   "800x600 64K color NI 60Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 16;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-256-77 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-256-77   "800x600 256 color NI 77Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 8;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-256-75 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-256-75   "800x600 256 color NI 75Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 8;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-256-72 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-256-72   "800x600 256 color NI 72Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 8;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.800x600-256-60 
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   800x600-256-60   "800x600 256 color NI 60Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 800;
		PIXHEIGHT   = 600;
		DEPTH       = 8;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-16M-77
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-16M-77   "640x480 16M-color NI 77Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 32;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-16M-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-16M-75   "640x480 16M-color NI 75Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 32;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-16M-72
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-16M-72   "640x480 16M-color NI 72Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 32;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-16M-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-16M-60   "640x480 16M-color NI 60Hz, 2MB"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 32;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-64K-77
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-64K-77   "640x480 64K-color NI 77Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 16;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-64K-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-64K-75   "640x480 64K-color NI 75Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 16;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-64K-72
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-64K-72   "640x480 64K-color NI 72Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 16;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-64K-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-64K-60   "640x480 64K-color NI 60Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 16;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-256-77
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-256-77   "640x480 256-color NI 77Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 8;
		FREQUENCY   = 77;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-256-75
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-256-75   "640x480 256-color NI 75Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 8;
		FREQUENCY   = 75;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-256-72
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-256-72   "640x480 256-color NI 72Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 8;
		FREQUENCY   = 72;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}


/* ************************************************************************* *
 *                                                                           *
 *              ATI.MACH64PCI.GX.640x480-256-60
 *                                                                           *
 * ************************************************************************* */


VENDOR ATI                   "ATI"
 MODEL  MACH64PCI            "Mach64 PCI"
  CLASS  GX                  "GX/CT/VT/GT"
   MODE   640x480-256-60   "640x480 256-color NI 60Hz"

	MEMORY (0xA0000,0x10000); /* Base address & Length VGA memory*/ 
	MEMORY (REGS,0xB0000,0x10000); /* Base address & Length Registers */ 
	MEMORY (APERTURE,@MEMBASE@,0x800000); /* Base address */ 
	PORT(0x0:0x3FF); 
	PORT(0x400:0xFBFF);

	DATA
	{
    		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/mach64pci";
		VBIOSOPTS  = 0x0A; /* illegal i/o cause printf:FORCE LOAD */
		XDRIVER	= "cxm";
		PIXWIDTH    = 640;
		PIXHEIGHT   = 480;
		DEPTH       = 8;
		FREQUENCY   = 60;
	}


	PROCEDURE SetMode
	{
		int10(r0,4);
	}

	PROCEDURE SetGraphics
	{ 
		r4 = 0xA005;   /* Set VGA */
		r5 = 0; 
		r6 = 5;  	/* Enable VGA memory aperture */
		int10 (r4,3); 
		outw(0x03c4, 0x0f02);  
		outw(0x03c4, 0x0a04); 
		outw(0x03ce, 0x1000); 
		outw(0x03ce, 0x0001); 
		outw(0x03ce, 0x0002); 
		outw(0x03ce, 0x0003); 
		outw(0x03ce, 0x0004); 
		outw(0x03ce, 0x0005); 
		outw(0x03ce, 0x0106); 
		outw(0x03ce, 0x0f07); 
		outw(0x03ce, 0xff08); 
		outw(0x01ce, 0x28b0); 
		outw(0x01ce, 0x04b6);

		/* Load accelerator CRTC Params */
		outw(0x5EEE,0xFF);
		int10(r0,4);
		outw(0x5EEE,0xFF);
        }

	PROCEDURE SetText
	{
		r4 = 0xA005; /* Memory Aperature Disabled */
		r5 = 0;		
		r6 = 4;		
		int10(r4,3);	

		r4 = 0xA001;  /* Set Display Mode VGA */
		r5 = 0;
		r6 = 4;
		int10 (r4,3);

		r4 = 3; /* Set Text Display Mode */
		int10(r4,1);
	}

/* End mach64pci.tmpl file ************************************************ */
