/*
 *	@(#) 86c775.tmpl 11.1 97/10/22 
 *
 * Copyright (C) 1997 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right 
 * to use, modify, and incorporate this code into other products for purposes 
 * authorized by the license agreement provided they include this notice 
 * and the associated copyright notice with any such product.  The 
 * information in this file is provided "AS IS" without warranty.
 * 
 */

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1280x1024-256-75 "1280x1024 256 Colors, 75Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1280;
                PIXHEIGHT   = 1024;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0xc0);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8107;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
    MODE   1280x1024-256-72 "1280x1024 256 Colors, 72Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1280;
                PIXHEIGHT   = 1024;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0xA0);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8107;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1280x1024-256-60 "1280x1024 256 Colors, 60Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1280;
                PIXHEIGHT   = 1024;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x80);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8107;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1280x1024-256-43 "1280x1024 256 Colors, 43Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1280;
                PIXHEIGHT   = 1024;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8107;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-64K-75 "1024x768 64K Colors, 75Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "TrueColor";
                DEPTH       = 16;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x10);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8117;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-64K-70 "1024x768 64K Colors, 70Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "TrueColor";
                DEPTH       = 16;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x0c);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8117;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-64K-60 "1024x768 64K Colors, 60Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "TrueColor";
                DEPTH       = 16;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x08);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8117;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-64K-43 "1024x768 64K Colors, 43Hz, 2MB"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "TrueColor";
                DEPTH       = 16;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8117;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-256-75 "1024x768 256 Colors, 75Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x10);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8105;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-256-70 "1024x768 256 Colors, 70Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x0c);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8105;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-256-60 "1024x768 256 Colors, 60Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x08);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8105;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   1024x768-256-43 "1024x768 256 Colors, 43Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 1024;
                PIXHEIGHT   = 768;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8105;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   800x600-64K-75 "800x600 64K Colors, 75Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "PseudoColor";
                DEPTH       = 16;
                PIXWIDTH    = 800;
                PIXHEIGHT   = 600;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x01);
                out(0x3d4, 0x52);
                out(0x3d5, 0x80);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8114;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   800x600-64K-72 "800x600 64K Colors, 72Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "PseudoColor";
                DEPTH       = 16;
                PIXWIDTH    = 800;
                PIXHEIGHT   = 600;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x01);
                out(0x3d4, 0x52);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8114;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   800x600-64K-60 "800x600 64K Colors, 60Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "PseudoColor";
                DEPTH       = 16;
                PIXWIDTH    = 800;
                PIXHEIGHT   = 600;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x00);
                out(0x3d4, 0x52);
                out(0x3d5, 0x80);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8114;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   800x600-256-75 "800x600 256 Colors, 75Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 800;
                PIXHEIGHT   = 600;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x01);
                out(0x3d4, 0x52);
                out(0x3d5, 0x80);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8103;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   800x600-256-72 "800x600 256 Colors, 72Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 800;
                PIXHEIGHT   = 600;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x01);
                out(0x3d4, 0x52);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8103;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   800x600-256-60 "800x600 256 Colors, 60Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 800;
                PIXHEIGHT   = 600;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x41);
                out(0x3d5, 0x00);
                out(0x3d4, 0x52);
                out(0x3d5, 0x80);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8103;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   640x480-64K-75 "640x480 64K Colors, 75Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "PseudoColor";
                DEPTH       = 16;
                PIXWIDTH    = 640;
                PIXHEIGHT   = 480;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x52);
                out(0x3d5, 0x20);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8111;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   640x480-64K-72 "640x480 64K Colors, 72Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "PseudoColor";
                DEPTH       = 16;
                PIXWIDTH    = 640;
                PIXHEIGHT   = 480;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x52);
                out(0x3d5, 0x10);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8111;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   640x480-64K-60 "640x480 64K Colors, 60Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf16";
                VISUAL      = "PseudoColor";
                DEPTH       = 16;
                PIXWIDTH    = 640;
                PIXHEIGHT   = 480;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x52);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8111;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   640x480-256-75 "640x480 256 Colors, 75Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 640;
                PIXHEIGHT   = 480;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x52);
                out(0x3d5, 0x20);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8101;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   640x480-256-72 "640x480 256 Colors, 72Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 640;
                PIXHEIGHT   = 480;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x52);
                out(0x3d5, 0x10);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8101;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

VENDOR S3 "S3"
 MODEL  86c775 "Trio64V2/DX (86c775) PCI"
  CLASS  S3D ""
   MODE   640x480-256-60 "640x480 256 Colors, 60Hz"

        MEMORY(@MEMBASE@, 0x200000);
        PORT(EFF,VGA);

        DATA
        {
                XDRIVER     = "nsf8";
                VISUAL      = "PseudoColor";
                DEPTH       = 8;
                PIXWIDTH    = 640;
                PIXHEIGHT   = 480;
                RGBBITS     = 6;
                VESABIOS6BUG = 1;
                S3HWCURSOR = 0;
                PIXTRANSEXTBUG = 1;
		VIDSETUP = "/usr/X11R6.1/lib/vidconf/scripts/86c775";
        }

        PROCEDURE SetGraphics
        {
                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* specify monitor ID for desired refresh rate */
                out(0x3d4, 0x52);
                out(0x3d5, 0x00);

                /* set the graphics mode */
                r0 = 0x4F02;
                r1 = 0x8101;
                int10(r0, 2);

                /* unlock S3 registers (relocked by int10) */
                out(0x3d4, 0x38);
                out(0x3d5, 0x48);
                out(0x3d4, 0x39);
                out(0x3d5, 0xad);

                /* enable graphics engine */
                out(0x3d4, 0x40);
                in(r0, 0x3d5);
                or(r0, 0x1);
                out(0x3d5, r0);

                /* Turn on linear address mode: 2Mb */
                out(0x3d4, 0x58);
                in(r0, 0x3d5);
                or(r0, 0x12);
                out(0x3d5, r0);

                /* Set upper word of starting address: 0x@HI@@LO@0000 */
                out(0x3d4, 0x59);
                out(0x3d5, 0x@HI@);       /* Upper byte 31:24 */
                out(0x3d4, 0x5a);
                out(0x3d5, 0x@LO@);       /* lower byte 23:16 */
        }

        PROCEDURE SetText
        {
                /* restore text mode */
                r0 = 0x0003;
                int10(r0, 1);
		wait(1000000);
        }

