
#ifdef Not_Esmp
#define DefaultCPlusPlusOptions
#else
#define DefaultCPlusPlusOptions                -W2,-A -Kno_lu -Ki486
#endif

        C++C = $(PFX)CC
        C++COPTIONS = DefaultCPlusPlusOptions
        C++DEBUGFLAGS = $(CDEBUGFLAGS)
        C++FLAGS = $(C++DEBUGFLAGS) $(C++COPTIONS) $(ALLDEFINES)


#if AlternateUsrLibDir && defined(UseInstalled)
        C++LDOPTIONS = $(C++DEBUGFLAGS) $(C++COPTIONS) $(LOCAL_LDFLAGS) -Wl,-T 0x8300000 -L $(USRLIBDIR)
#else
        C++LDOPTIONS = $(C++DEBUGFLAGS) $(C++COPTIONS) $(LOCAL_LDFLAGS) -Wl,-T 0x8300000
#endif

