XCOMM 
XCOMM (c) Copyright 1989, 1990, 1991, 1992, 1993 OPEN SOFTWARE FOUNDATION, INC. 
XCOMM ALL RIGHTS RESERVED 
XCOMM 
XCOMM 
XCOMM Motif Release 1.2.2
XCOMM 
XCOMM   $RCSfile$ $Revision$ $Date$
/* SCCSID = OSF/Motif: @(#)Motif.tmpl	3.24 91/08/22 */

/* Include AFTER Project.tmpl */
/* SCCSID = OSF/Motif: @(#)Motif.tmpl	3.5.1.5 91/06/23 */

#ifndef UsrIncDir
#define UsrIncDir $(DESTDIR)/usr/X/include
#endif

           MTOP = $(TOP)
        MLIBSRC = $(MTOP)/lib
    MINCLUDESRC = $(MTOP)/X11
      USRINCDIR = UsrIncDir
        TESTSRC = $(TOP)/tests
     TESTSRCLIB = $(TESTSRC)/lib
     TESTSRCBIN = $(TESTSRC)/bin
       COMMONPP = $(TESTSRCBIN)/Commonpp
#ifdef DebugLib
  TESTMALLOCSRC = $(TESTSRCLIB)/Malloc
#endif
     TESTCOMSRC = $(TESTSRCLIB)/Common
    MTOOLKITSRC = $(LIBSRC)/Xt
     MWIDGETSRC = $(LIBSRC)/Xm
   MRESOURCESRC = $(LIBSRC)/Mrm
         UILSRC = $(CLIENTSRC)/uil
            UIL = LD_LIBRARY_PATH=$(EXTENSIONSRC)/lib\:$(XLIBSRC)\:$(TOOLKITSRC)\:$(MWIDGETSRC)\:$(MRESOURCESRC)\:$(LIBDIR);export LD_LIBRARY_PATH;$(UILSRC)/uil
      XMTOOLLIB = $(MTOOLKITSRC)/libXt.so
          XMLIB = $(MWIDGETSRC)/libXm.so
   MRESOURCELIB = $(MRESOURCESRC)/libMrm.so
         UILLIB = $(UILSRC)/libUil.a
     TESTCOMLIB = $(TESTCOMSRC)/libCommon.a
         UIDDIR = $(LIBDIR)/uid
#ifdef DebugLib
     TESTMALFNS = $(TESTMALLOCSRC)/MallocInit.o $(TESTMALLOCSRC)/MallocExit.o
  TESTMALLOCLIB = $(TESTMALLOCSRC)/libMalloc.a 
#endif
  LINTMRESOURCE = $(MRESOURCESRC)/libMrm.a
LINTXMWIDGETLIB = $(MWIDGETSRC)/llib-l/Xm.ln
     LINTXMTOOL = $(MTOOLKITSRC)/llib-lXt.ln
     LINTUILLIB = $(UILSRC)/llib-lUil.ln
        SYSLIBS = -lgen

#if NeedDefaultDepLibs
/*
 */
#if HasSunOSSharedLibraries
        DEPLIBS = /* */
#else
        DEPLIBS = /* */
#endif
        DEPLIBS1 = $(DEPLIBS)
        DEPLIBS2 = $(DEPLIBS)
        DEPLIBS3 = $(DEPLIBS)
#endif /* NeedDefaultDepLibs */

/*
 * for Motif port outside of X tree
 */
/* XTOP=$(TOP)/../
XLIBSRC=$(XTOP)/lib/X
XINCLUDESRC=$(XTOP)/X11
EXTENSIONSRC=$(XTOP)/extensions
TOOLKITSRC=$(XTOP)/lib/Xt
FONTSRC=$(XTOP)/fonts
UIDDIR=$(LIBDIR)/uid */


#ifndef XmClientLibs
#define XmClientLibs $(XMLIB) $(XTOOLLIB) $(XLIB) $(XMEXTRA_LIBS)
#endif
#ifndef XmClientDepLibs
#define XmClientDepLibs $(DEPXMLIB) $(DEPXTOOLLIB) $(DEPXLIB)
#endif

#ifndef MrmClientLibs 
#define MrmClientLibs $(MRESOURCELIB) $(XMLIB) $(XTOOLLIB) $(XLIB) $(XMEXTRA_LIBS)
#endif
#ifndef MrmClientDepLibs
#define MrmClientDepLibs $(DEPMRESOURCELIB) $(DEPXMLIB) $(DEPXTOOLLIB) $(DEPXLIB)
#endif

#ifndef SharedXmRev
#define SharedXmRev 1.2
#endif
#ifndef SharedMrmRev
#define SharedMrmRev 1.2
#endif
#ifndef SharedUilRev
#define SharedUilRev 1.2
#endif
          SOXMREV = SharedXmRev
         SOMRMREV = SharedMrmRev
         SOUILREV = SharedUilRev
