/*
 * @(#) mgaipci.tmpl 11.1 97/10/22
 *
 * Copyright (C) 1994-1995 The Santa Cruz Operation, Inc.
 *
 * The information in this file is provided for the exclusive use of the
 * licensees of The Santa Cruz Operation, Inc.  Such users have the right
 * to use, modify, and incorporate this code into other products for purposes
 * authorized by the license agreement provided they include this notice
 * and the associated copyright notice with any such product.  The
 * information in this file is provided "AS IS" without warranty.
 *
 */

/* 
 * ports/mga.xgi - Xsco GrafInfo File for the MGA/Impression Adapter
 *                                                 
 *                      PORTS.MGA.MGA.1024x768-256
 *
 */

/* The following variables may be set in the data section.
 * Unless one knows what one is doing, it is not advisable
 * to set any as the defaults should work fine. The default parameters
 * are listed for all supported resolutions in the file Settings.doc.
 *
 * PixelClk
 * HFrontPorch
 * HSync
 * HBackPorch
 * HOverscan
 * HVisible		duplicates PIXWIDTH
 * VFrontPorch
 * VSync
 * VBackPorch
 * VOverscan
 * VVisible		duplicates PIXHEIGHT
 * PWidth		duplicates DEPTH
 * OverscanEnable
 * InterlaceModeEnable
 * FrameBufferStart
 * Zoom_factor_x
 * Zoom_factor_y
 * VIDEOPitch
 * ALW
 * HBlankingSkew
 * HRetraceEndSkew
 * CursorEndSkew
 * CursorEnable
 * CRTCTestEnable
 * VIRQEnable
 * Select5RefreshCycle
 * CRTCReg07Protect
 * HSyncPol
 * VSyncPol
 *
 */

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1600x1200-256 "1600x1200 256-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 8;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1600x1200-32k "1600x1200 32k-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 15;
    PIXWIDTH    = 1600;
    PIXHEIGHT   = 1200;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1280x1024-256 "1280x1024 256-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 8;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1280x1024-32k "1280x1024 32k-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 15;
    PIXWIDTH    = 1280;
    PIXHEIGHT   = 1024;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1152x882-256 "1152x882 256-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 8;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 882;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1152x882-32k "1152x882 32k-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 15;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 882;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1152x882-16m "1152x882 16m-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 24;
    PIXWIDTH    = 1152;
    PIXHEIGHT   = 882;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1024x768-256 "1024x768 256-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 8;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1024x768-32k "1024x768 32k-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 15;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   1024x768-16m "1024x768 16m-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 24;
    PIXWIDTH    = 1024;
    PIXHEIGHT   = 768;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   800x600-32k "800x600 32k-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 15;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk    = 42000;
    HFrontPorch = 28;
    HSync       = 165;
    HBackPorch  = 118;
    VFrontPorch = 1;
    VSync       = 4;
    VBackPorch  = 25;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   800x600-16m "800x600 16m-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 24;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk    = 42000;
    HFrontPorch = 28;
    HSync       = 165;
    HBackPorch  = 118;
    VFrontPorch = 1;
    VSync       = 4;
    VBackPorch  = 25;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   800x600-256 "800x600 256-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 8;
    PIXWIDTH    = 800;
    PIXHEIGHT   = 600;
    PixelClk    = 42000;
    HFrontPorch = 28;
    HSync       = 165;
    HBackPorch  = 118;
    VFrontPorch = 1;
    VSync       = 4;
    VBackPorch  = 25;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   640x480-256 "640x480 256-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 8;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   640x480-32k "640x480 32k-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 15;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }

VENDOR Matrox         "Matrox"
 MODEL  @MODEL@       "Impression PCI Graphics Adapter @CARD@"
  CLASS  @CLASS@         ""
   MODE   640x480-16m "640x480 16m-color"

/*
 * Memory and VGA port addresses
 */

MEMORY(@MEM_BASE@, 0x4000);      /*  Base Address, Length        */
PORT(0x3b0-0x3df);		/*  io space			*/

DATA
    {
    VIDSETUP    = "/usr/X11R6.1/lib/vidconf/scripts/mgaipci";
    XDRIVER     = "mga";
    DEPTH       = 24;
    PIXWIDTH    = 640;
    PIXHEIGHT   = 480;
    }

PROCEDURE  SetGraphics /* (NO ARGS) */
    {
    }

PROCEDURE SetText /* (NO ARGS) */
    {
	r0 = 0x0003;
	int10(r0, 1);
    }
